body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.bd-formborder {
	text-align:left;
	padding: 1.5rem;
    margin:auto;
    border-width: .2rem;
    position: relative;
    border: solid #f7f7f9;
    width:75%;
}
